
.header-wrapper .nav-wrapper {
  position: fixed;
  z-index: 2;
  background-color: white;
  width: 100%;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  height: var(--nav-height);
}

header nav {
  display: flex;
  max-width: 1264px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

header .nav-hamburger {
  display: none;
  visibility: hidden;
}

header .nav-brand {
  order: 1;
  flex: 0 0 auto;
}

header .nav-brand img {
  width: 128px;
  height: auto;
  object-fit: contain;
}

header nav .nav-sections {
  order: 2;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  gap: 24px;
  visibility: visible;
}

header nav .nav-sections .default-content-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}

header nav .nav-sections ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 24px;
}

header nav .nav-sections ul > li {
  position: relative;
  white-space: nowrap;
  margin-right: 20px;
}

header nav .nav-sections ul > li > a {
  text-decoration: none;
  color: green;
  font-size: 16px;
}

header nav .nav-sections ul > li ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  list-style: none;
}

header nav .nav-sections ul > li:hover > ul {
  display: block;
}

header nav .nav-sections ul > li ul > li {
  white-space: nowrap;
}

header nav .nav-tools {
  order: 3;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  gap: 10px;
}

header nav .nav-tools .default-content-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

header nav .nav-tools p {
  margin: 0;
  font-size: 16px;
  color: green;
}

.header .nav-brand img {
  display: block;
  width: 100px;
  height: auto;
  object-fit: contain;
}

header nav .default-content-wrapper ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}

header nav .default-content-wrapper ul > li {
  display: flex;
  align-items: center;
  gap: 16px;
}

header nav .nav-sections ul > li ul > li {
  margin: 0;
}
